<h1>Novo Cliente</h1>

<%= form_with(model: @cliente, url: cliente_index_path) do |form| %>
  <% if @cliente.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@cliente.errors.count, "erro") %> impediram que este cliente fosse salvo:</h2>
      <ul>
        <% @cliente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, "Nome:" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :sobrenome, "Sobrenome:" %>
    <%= form.text_field :sobrenome %>
  </div>

  <div>
    <%= form.label :data_nascimento, "Data de Nascimento:" %>
    <%= form.date_field :data_nascimento %>
  </div>

  <div>
    <%= form.label :cpf, "CPF:" %>
    <%= form.text_field :cpf %>
  </div>

  <div>
    <%= form.label :email, "Email:" %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :logradouro, "Logradouro:" %>
    <%= form.text_field :logradouro %>
  </div>

  <div>
    <%= form.label :numero, "Número:" %>
    <%= form.text_field :numero %>
  </div>

  <div>
    <%= form.label :bairro, "Bairro:" %>
    <%= form.text_field :bairro %>
  </div>

  <div>
    <%= form.label :cep, "CEP:" %>
    <%= form.text_field :cep %>
  </div>

  <div>
    <%= form.label :cidade_id, "Cidade:" %>
    <%= form.collection_select :cidade_id, @cidades, :id, :nome, { prompt: 'Selecione uma cidade' } %>
  </div>

  <br>
  <div>
    <%= form.submit "Criar Cliente" %>
  </div>
<% end %>

<br>
<%= link_to 'Voltar', cliente_index_path %>